


body{
    background-color: #ADD8E6;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.piano{
    display: flex;
    
}
.white{
    background-color: white;
    width: 70px;
    height: 300px;
    border: 1px solid black;

}
.black{
    background-color: black;
    width: 40px;
    height: 200px;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 2;
}